<!-- Whatsapp Boton -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="whatsapp" target="_blank">
<i class="fab fa-whatsapp my-float"></i>
</a>
<!-- End Whatsapp boton -->
<header class="nav-header">
    <nav class="navbar navbar-light navbar-expand-lg navbar-dark bg-dark" style="background-color: #1b1b1b !important;">
        <a class="navbar-brand" href="#"><img class= "header-logo" src="../../public/images/logos/low-cost-gym-transparent.png" alt="gym-logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">INICIO<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/actividades">ACTIVIDADES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/registrate">SUMATE YA!</a>
            </li>
                 </a>
            <li class="nav-item">
                <a class="nav-link" href="/contacto">CONTACTO</a>
            </li>
                </a>
            </li>
          </ul>
        </div>
      </nav>

</header>