<!-- Include Head -->
<%- include('partials/head', {title: 'Bienvenidos a Da Gym'}) %>

<!-- Include Header -->
<%- include('partials/header') %>

<section class="adminPanel__container">
    <div class="adminPanel-content__container">
        <h2>Bienvenido al Panel de Control NOMBRE USER CON PERMISO ADMIN.</h2>
                <div class="admin__btn-container">   
                    <!-- <div class="userBox__container">
                        <label for="exampleInputEmail1">Email de usuario</label>
                        <input type="text" class="form-control" name="user_name" placeholder="Nombre o Apellido">
                        <small id="userHelp" class="form-text text-muted">Ingresá algun dato que nos ayude a encontrar el usuario.</small>
                        <a href=""><button type="submit" class="btn btn-warning btn-lg usersEdit">EDITAR USUARIOS</button></a>
                    </div> -->
                    <div class="btn-activities-branches__container">
                        <a href="/admin/users"><button type="button" class="btn btn-warning btn-lg branchEdit">EDITAR USUARIOS</button></a>
                    </div>
                    <div class="btn-activities-branches__container">
                        <a href="/admin/branches"><button type="button" class="btn btn-warning btn-lg branchEdit">EDITAR SEDES</button></a>
                    </div>
                    <div class="btn-activities-branches__container">
                        <a href="/admin/activities"><button type="button" class="btn btn-warning btn-lg branchEdit">EDITAR ACTIVIDADES</button></a>
                    </div>
                    <div class="btn-activities-branches__container">
                        <a href="/admin/lessons"><button type="button" class="btn btn-warning btn-lg branchEdit">EDITAR CLASES</button></a>
                    </div>
                </div>
    </div>
</section>



<!-- Include Footer -->
<%- include('partials/footer') %>