    <!-- Contact form -->
    <div class ="contact__container">
        <div class="contact__container-map">
            <img src="/images/mapa.jpg" class="" alt="">
        </div>
        <div class="contact__container-form">
            <h2>CONTACTANOS</h2>
            <form action="#" method="post">
                <label for="">Nombre</label>
                <input class="form-control input-sm" type="text" name="name" placeholder="Nombre Apellido">
                <label for="">Email</label>
                <input class="form-control input-sm" type="email" name="email" placeholder="ejemplo@dominio.com">
                <label for="">Telefono</label>
                <input class="form-control input-sm" type="text" name="telefono" placeholder="011 1111 1111">
                <label for="">Mensaje</label>
                <textarea class="form-control textarea-sm" rows="2" name="mensaje" placeholder="Dejanos tu mensaje"></textarea>
                <div class="container__home--contact">
                    <button type="button" class="btn btn-light">Enviar</button>
                </div>
            </form>
        </div>
    </div>