    <!-- FOOTER -->

<div class ="footer__container">
    <!-- start Nuestras Redes  -->
    <div class ="footer__container-col1">
        <div class ="footer__container-col1-logobox">
            <a href="index.html" class=""><img class="footer-logo" src="/images/logos/logo-dagy-white.png" alt="Da-Gym"></a>
        </div>
        <div class ="footer__container-col1-textbox">
            <p class="">Entrenamiento personalizado con el mejor precio de Buenos Aires.</p>
        </div>
            <ul class="footer__container-col1-socialntw">
                <span class="">Seguinos: </span>
                <li class="footer__container-col1-socialntw_objet"><a  href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                <li class="footer__container-col1-socialntw_objet"><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram no-margin-right"></i></a></li>
                <li class="footer__container-col1-socialntw_objet"><a href="https://www.youtube.com/channel/" target="_blank"><i class="fa fa-youtube" ></i></a></li>
            </ul>
        <div class ="footer__container-col2-contact">
            <div class="footer__container-col2-contact-title">Contacto</div>
            <ul class="footer__container-col2-branches-options">
                <li>Email: <a class="" href="mailto:info@dagym.com.ar">info@dagym.com.ar</a></li>
                <li>Tel: <a class="" href="tel:11-xxxx-xxxx">0810-xxx-xxxx</a></li>
            </ul>        
        </div>
    </div>
    <!-- start Nuestras Sedes  -->
    <div class ="footer__container-col2">   
        <div class="footer__container-col2-branches">Nuestras Sedes</div>
        <ul class="footer__container-col2-branches-options">
                <li>Recoleta</li>
                <li>Avellaneda</li>
                <li>Urquiza</li>
                <li>Almagro</li>
        </ul> 
    </div>

</div>
<div class= "footer__container-copyright">
    <div class="footer__container-copyright-textbox">
        <p>© Da-Gym. Todos los derechos reservados.</p>
    </div>
    <div class="footer__container-copyright-link">
        <a href="http://G5dh.com.ar" class="" target="_blank">design by G5-DH Creative</a>
    </div>
</div>

<!-- Scripts de Boostrap DON´T TOUCH van aca abajos los script de bootstrap-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="../../../bootstrap/js/bootstrap.min.js"></script>
<script src="../../../bootstrap/js/popper.js"></script>
<script src="../../../bootstrap/js/jquery.js"></script>
<!-- End Scripts de Boostrap -->    
</body>
</html>