<!-- Include Head -->
<%- include('partials/head', {title: 'Ingresá a Da Gym'}) %>

<!-- Whatsapp Boton -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="whatsapp" target="_blank">
    <i class="fab fa-whatsapp my-float"></i>
    </a>
<!-- End Whatsapp boton -->

<!-- Include Header -->
<%- include('partials/header') %>

<!-- Login Form -->
<div class="container__register--box">
    <section class="container__register">
        <div class="container__register--title">
            <h2>Bienvenido</h2>
        </div>
            <form action="" class="container__register--data" method="POST">
                <div class="errors" style="background-color: rgb(141, 31, 31);">
                    <h3 class="error_text" style="color: rgb(197, 196, 196);">ERROR</h3>
                    <p style="color: black;">Usuario o contraseña erronea</p>
                </div>
                        <input type="email" placeholder="Email*" type="email">
                        <input type="password" placeholder="Contraseña*" type="password">
                    <div class="container__register--data-check">
                        <input type="checkbox">
                        <label for="">Recuerdame</label>
                    </div>
                    <div class="container__register--send">
                        <button type="button" class="btn btn-warning">Enviar</button>
                    </div>
                    <div class="container__register--data-info">
                        <label>
                            <a href="#">¿Olvidaste tu contraseña?</a>
                        </label>
                        <label>
                            <a href="#">¿Son nuevo por aca? Registrate</a>
                        </label>
                    </div>
            </form>
        </div>
    </section>
</div>
<!-- End Login Form -->

<!-- Include Footer -->
<%- include('partials/footer') %>
