<!-- Include Head -->
<%- include('partials/head', {title: 'Carrito de Compras'}) %>

<body>
<!-- Whatsapp Boton -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="whatsapp" target="_blank">
    <i class="fab fa-whatsapp my-float"></i>
    </a>
<!-- End Whatsapp boton -->

<!-- Include Header -->
<%- include('partials/header') %>

<!-- -------------------------------------------FIRST-BANNER--------------------- -->
<div class= "bannerTrolley__container-adImgBox">
    <img class= "bannerTrolley__container-adImg" src="../../public/images/banners/trolley_banner3.jpeg" alt="foto de una marca de deportes.jpeg">
</div>
<!-- -------------------------------------------ORDER-TROLLEY--------------------- -->

<section class= "bodyTrolley">
        <!-- BANER VERTICAL DE PUBLICIDAD -->
        <div class= "verticalAd__container">
            <img class= "verticalBanner" src="../../public/images/banners/shoes.jpg" alt="reebok running shoes">
        </div>
    <section class="buy__container">
    <!-- PRIMERA SECCION CON CLASES A COMPRAR -->
        <section class="buyTrolley__container">
            <header class="buyTrolley__container-headertextbox">
                <h2>Tus clases.</h2>
            </header>
            <!-- CLASE -->
            <article class ="gymLesson__container">
                <div class="gymLesson__container-elements">
                    <div class="gymLesson__container-elements-imagebox">
                        <img class= "lesson-image" src="../../public/images/actividades/yoga.webp" alt="Clases de Yoga">
                    </div>
                    <div class="gymLesson__container-elements-textbox">
                    <h3>Pase mensual a YOGA<br>$X.XXXX.-</h3>
                    <p>Las clases de Hata Yoga están orientadas a personas de cualquier edad que esperen practicar un deporte fresco y desafiante. Estamos convencido que vas a disfrutar de tus clases. Traé a un amigo y abona el 50% la siguiente vez!</p>
                    </div>
                </div>
            </article>
            <!-- BOTON DE PAGO -->
            <div class="payBox__container">
                <div class="payBox__container-textBox">
                    <p>Subtotal</p>
                    <p>$XXX</p>
                    <p2>TOTAL:<br>$x.XXX</p2>
                </div>
                <div class="payBox__container-btn">
                    <button class="btn btn-success">Comprar</button>
                </div>
            </div>

        </section>
    <!-- SEGUNDA SECCION CON PLANES DE SUSCRIPCION MENSUAL/ANUAL -->
        <section class="subscription__container">
            <header class="suscription__container-headertextbox">
                <h2>¿Pensaste en optar por nuestros ABONOS fijos?</h2>
            </header>
            <!-- SUSCRIPCION MENSUAL -->
            <section class="subscriptionPass__container">
                <article class ="monthPass__container">
                    <a class="monthPass__container-elements" href="#">
                        <img class= "month-image" src="../../public/images/actividades/monthlySubGirl.png" alt="suscripcion por un mes">
                        <div class="monthPass__container-elements-textbox">
                            <p>Pase libre mensual<br>$XXXX</p>
                        </div>
                    </a>
                </article>
                <!-- SUSCRIPCION ANUAL -->
                <article class ="anualPass__container">
                    <a class="anualPass__container-elements" href="#">
                        <img class= "anual-image" src="../../public/images/actividades/monthlySubBoy.png" alt="suscripcion por un anio">
                        <div class="anualPass__container-elements-textbox">
                            <p>Pase libre anual<br>$XXXX</p>
                        </div>
                    </a>
                </article>
            </section>
        </section>
    </section>
</section>

<!-- -------------------------------------------SECOND-BANNER--------------------- -->


<div class= "bannerTrolleyTwo__container-adImg">
    <img src="../../public/images/banners/trolley_banner1.jpeg" alt="foto de una marca de deportes.jpeg">
</div>

<!-- Include Footer -->
<%- include('partials/footer') %>