<!-- Include Head -->
<%- include('partials/head', {title: 'Registrate en Da Gym'}) %>

<!-- Whatsapp Boton -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="whatsapp" target="_blank">
    <i class="fab fa-whatsapp my-float"></i>
    </a>
<!-- End Whatsapp boton -->

<!-- Include Header -->
<%- include('partials/header') %>

    <!-- Register Form -->
    <div class="container__register--box">
        <section class="container__register">
            <div class="container__register--title">
                <h2>Registrarse</h2>
            </div>
                <form action="/users/register" enctype="multipart/form-data"class="container__register--data" method="POST">
                    <!-- <div class="errors" style="background-color: rgb(141, 31, 31);">
                        <h3 class="error_text" style="color: rgb(197, 196, 196);">ERROR</h3>
                        <p style="color: black;">- El nombre es un campo obligatorio.</p>
                        <p style="color: black;">- El email es un campo obligatorio.<br></p>
                    </div> -->
                            <input type="text" placeholder="Nombre*" type="name">
                            <input type="text" placeholder="Apellido*" name="sub_name">
                            <input type="email" placeholder="Email*" type="email">
                            <input type="password" placeholder="Contraseña*" type="password">
                            <input type="password" placeholder="Repetir Contraseña*" type="sub_password">
                        <div class="container__register--data-check">
                            <label>
                            <a href="#">Leer Terminos y Condiciones</a>
                            </label>
                        </div>
                        <div class="container__register--send">
                            <button type="submit" class="btn btn-warning">Enviar</button>
                        </div>
                </form>
            </div>
        </section>
    </div>
<!-- End Register Form -->

 <!-- Include Footer -->
 <%- include('partials/footer') %>