<!-- Include Head -->
<%- include('../partials/head', {title: 'Ingresá a Da Gym'}) %>

<script src="/js/efects.js" defer></script>
<!-- Whatsapp Boton -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="whatsapp" target="_blank">
    <i class="fab fa-whatsapp my-float"></i>
    </a>
<!-- End Whatsapp boton -->

<!-- Include Header -->
<%- include('../partials/header') %>

<!-- Login Form -->
<div class="container__register--box">
    <section class="container__register">
        <div class="container__register--title">
            <h2>Bienvenido</h2>
        </div>
            <form action="/users/auth" class="container__register--data" method="POST">
                <!-- Codigo para mostrar errores -->
                 <% if(typeof errors != 'undefined'){ %>
                    <%errors.forEach(error => {%>
                        <p><%= error.msg %></p>
                    <%})%>
                <%}%> 
                <!-- Termina codigo para mostrar errores -->
                
                        <input type="email" placeholder="Email*" name="email" class="miInput">
                        <input type="password" placeholder="Contraseña*" name="password" class="miInput">
                    <div class="container__register--data-check">
                        <input type="checkbox">
                        <label for="">Recuerdame</label>
                    </div>
                    <div class="container__register--send">
                        <button type="submit" class="btn btn-warning">Enviar</button>
                    </div>
                    <div class="container__register--data-info">
                        <label>
                            <a href="/users/password">¿Olvidaste tu contraseña?</a>
                        </label>
                        <label>
                            <a href="/users/create">¿Son nuevo por aca? Registrate</a>
                        </label>
                    </div>
            </form>
        </div>
    </section>
</div>
<!-- End Login Form -->

<!-- Include Footer -->
<%- include('../partials/footer') %>
